html {
    height: 100%;
}

/* index */

body {
    width: 100%;
    height: fit-content;
    margin: 0;
    overflow-x: hidden;
    padding: 0;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}



/* home.php */

.item-container {
    width: 100%;
    height: fit-content;
    margin: 5px 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.item {
    width: 200px;
    height: 250px;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.5);
}
.item:hover {
    cursor: pointer;
    border: 5px solid rgba(0, 0, 0, 1);
}

.items-context {
    font-family: sans-serif;
    font-size: 20px;
    margin: 20px 0 0 10px;
}

/* login, registation and logout */

.form-box {
    width: 30%;
    height: fit-content;
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.text-box {
    width: 90%;
    display: grid;
    grid-template-columns: 20% 80%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}

.text-box .fas {
    margin: 0 auto;
    font-size: 30px;
}

.text-box input, 
.text-box select {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 20px;
    width: 80%;
    float: left;
    margin: 5px;
    border-bottom: 3px solid black;
}

.text-box select:hover {
    cursor: pointer;
}

.form-box .button {
    width: 50%;
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: black;
    font-size: 18px;
    margin: 0 25% 20px 25%;
    outline: none;
}
.form-box .button:hover {
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 1);
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.error{
    width: 100%;
    border-bottom: 4px solid #ff0000;
    padding: 0;
    margin: 0;
    background-color: #800000;
    text-align: center;
    font-size: 18px;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.error p {
    display: unset;
    padding: 0;
    margin: 0 !important;
    color: white;
} 

.form-box p {
    font-family: sans-serif;
    font-size: 18px;
    width: 60%;
    height: fit-content;
    margin: 10px 20%;
    text-align: center;
}

#logout_button {
    margin: 20px 25% !important;
}


/* common: */

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: orange;
}
a:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.successful {
    width: 100%;
    height: fit-content;
    border-bottom: 4px solid red;
    background-color: orange;
    border-radius: 0 0 20px 20px;
}
.successful p {
    padding: 10px;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}


/* [filter.php] */

#filter_server {
    width: 50%;
    height: fit-content;
    text-align: center;
    border-radius: 20px;
    border: 4px solid black;
    font-size: 20px;
    font-family: sans-serif;
    margin: 15px 25%;
    padding: 0;
}
#filter_server p {
    padding: 10px;
}

/* [products.php] */

#product_container {
    width: 90%;
    height: fit-content;
    margin: 10px 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    font-family: sans-serif;
}
#product_container a #create_product {
    width: 100%;
    background-color: rgb(0, 191, 255);
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    color: white;
}
#product_container a #create_product:hover {
    cursor: pointer;
    background-color: blue;
}

#product_container #create_product p {
    padding: 10px;
}
#product_container a:hover{
    text-decoration: none;
    color: white;
}
#product_container a {
    grid-column-start: 1;
    grid-column-end: 3;
}

#create_container {
    width: 80%;
    height: fit-content;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    display: grid;
    border-radius: 20px;
    border: 3px solid black;
    margin: 10px 10%;
    overflow: hidden;
}

.product_create input[type=text] {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 20px;
    width: 80%;
    float: left;
    margin: 5px 10%;
    border-bottom: 3px solid black;
}

textarea {
    width: 80%;
    height: 150px;
    margin: 5px 10%;
    padding: 0;
    resize: none;
    font-size: 18px;
}

.product_create input[type=file] {
    width: 80%;
    margin: 0 10%;
    resize: none;
    font-size: 20px;
}
.product_create input[type=file]:hover {
    cursor: pointer;
}
.product_create #image p {
    width: 80%;
    margin: 0 10%;
    font-size: 20px;
}

.product_create button {
    width: 80%;
    background-color: rgb(0, 191, 255);
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px 10%;
    color: white;
    border: none;
}
.product_create button p {
    padding: 5px;
}
.product_create button:hover {
    cursor: pointer;
    background-color: blue;
}
#product_price {
    width: 80%;
    margin: 5px 10%;
    font-size: 20px;
}
#product_price input {
    width: 50px;
    font-size: 20px;
}

#product_type {
    width: 80%;
    margin: 5px 10%;
}
#product_type select {
    font-size: 20px;
}
#product_type select:hover {
    cursor: pointer;
}