@font-face {
    font-family: potra;
    src: url(letertype/Potra.ttf);
}

/* build navigation: basis */

#top_part {
    width: 100%;
    height: fit-content;
}

#space {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-bottom: 2px solid black;
    position: relative;
}

/* build navigation: account options */

#account {
    width: 10%;
    height: fit-content;
    float: right;
    margin: 10px;
    display: grid;
    grid-template-columns: 100% 200% 200% 200% 200%;
    overflow: hidden;
    position: relative;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
#account:hover{
    grid-template-columns: auto auto auto auto auto;
    width: fit-content;
    z-index: 9999;
}
#account:hover #flip {
    transform: rotate(180deg);
    padding-left: 5px;
}
#account .fas, 
#account-null .fas {
    margin: 0 5px;
}

#account-null {
    float: right;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
#account-null a {
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: black;
}

/* build navigation: logo */

#logo {
    margin: 0 0 0 20px;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    float: left;
    padding: 0;
    border: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
#logo #img {
    width: 100px;
    height: 60px;
    background: url(images/logo.png) no-repeat;
    background-size: 90px;
    background-position: center;
    overflow: hidden;
    position: relative;
}
#logo #name {
    width: 100%;
    font-family: potra;
    font-size: 50px;
    margin: auto 0;
    padding: 0;
}

/* build navigation: item filter */

#nav {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 1%;
    margin-right: 30px;
    font-family: sans-serif;
    font-size: 20px;
}

/* build navigation: search system */

#search-form {
    width: 280px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid black;
    left: 50%;
    transform: translate(-50%, -0%);
    position: absolute;
    margin-top: 5px;
    font-family: sans-serif;
    overflow: hidden;
}

#search-form #search-input{
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    height: 100%;
    font-size: 18px;
}
#search-form #button {
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    border-radius: 20px;
    float: right;
}

#search-form #button:hover{
    cursor: pointer;
}
#search-form #button:hover .fas {
    color: rgba(0, 0, 0, 1);
}

#search-form #button .fas{
    margin: auto;
    color: rgba(0, 0, 0, 0.5);
}

/* build navigation: common classes */

.item-type, .item-type-user {
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.2s;
}
.item-type:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.item-type-user:hover {
    cursor: unset;
}
#nav a, 
#account a {
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: black;
}

#reset {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

/* build footer */

#footer {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    border-top: 2px solid black;
    margin: 0;
}
.footer-itembox {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 20px;
}

#social-links {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: fit-content;
}
#social-links .fab {
    margin: auto;
    color: black;
    font-size: 50px;
}

p {
    margin: 0 10px;
    padding: 0;
}